{% extends "base.html" %}

{% block content %}
<div class="main">

    <form method="POST" enctype="multipart/form-data" action="/add-student">

        <div class="profile-card">

            <!-- LEFT SIDE -->
        
            <!-- RIGHT SIDE -->
            <div class="profile-form">

                <h2>Add New Student</h2>

                <div class="row">
                    <div class="form-group">
                        <input type="text" name="fname" placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="lname" placeholder="Surname" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" name="phone" placeholder="Mobile Number" required>
                </div>

                <div class="form-group">
                    <input type="text" name="addr1" placeholder="Address Line 1" required>
                </div>

                <div class="form-group">
                    <input type="text" name="addr2" placeholder="Address Line 2">
                </div>

                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" required>
                </div>

                <div class="row">
                    <div class="form-group">
                        <input type="text" name="country" placeholder="Country" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="region" placeholder="Region" required>
                    </div>
                </div>

                <div class="form-group">
                    <label>Institution</label>
                    <input type="text" name="institution" placeholder="Institution Name" required>
                </div>
                 <div class="form-group">
                    <label>sem</label>
                    <input type="text" name="sem" placeholder="Institution Name" required>
                </div>

                <button class="btn">Save Student</button>

            </div>

        </div>

    </form>

</div>

<!-- SCRIPT -->
<script>
document.getElementById("photoInput").addEventListener("change", function (event) {

    const file = event.target.files[0];

    if (file) {
        document.getElementById("profilePic").src =
            URL.createObjectURL(file);

        document.getElementById("uploadStatus").style.display = "block";
    }
});
</script>

{% endblock %}