{% extends "base.html" %}

{% block content %}


<div class="container mt-4">

    <!-- Welcome -->
    <div class="container mt-4 p-4">

    <h3 class="mb-4">Welcome, {{ student.name }}</h3>

    <div class="row text-center">

        <div class="col-md-4 mb-3">
            <div class="card p-3">
                <h6>Average Marks</h6>
                <h3>{{ avg_marks|round(2) }}</h3>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card p-3">
                <h6>Courses</h6>
                <h3>{{ enrollments|length }}</h3>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card p-3">
                <h6>Payments</h6>
                <h3>{{ payments|length }}</h3>
            </div>
        </div>

    </div>

</div>

    <!-- Courses -->
    <div class="mt-5">
        <h5>Your Courses</h5>
        <ul class="list-group">
            {% for e in enrollments %}
                <li class="list-group-item">
                    {{ e.course.name }} (Sem {{ e.course.sem }})
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Marks -->
    <div class="mt-5">
        <h5>Your Marks</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Internal</th>
                    <th>Mid</th>
                    <th>External</th>
                </tr>
            </thead>
            <tbody>
                {% for m in marks %}
                <tr>
                    <td>{{ m.course.name }}</td>
                    <td>{{ m.intmarks }}</td>
                    <td>{{ m.midmarks }}</td>
                    <td>{{ m.extmarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Payments -->
    <div class="mt-5">
        <h5>Payments</h5>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Semester</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for sem, status in sem_status.items() %}
        <tr>
            <td>{{ sem }}</td>
            <td>
                {% if status == "paid" %}
                    <span class="badge bg-success">Paid</span>
                {% else %}
                    <span class="badge bg-warning">Pending</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>

</div>
{% endblock %}