{% extends "base.html" %}
{% block content %}
<div class="container mt-4 p-4">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<h3 class="mb-4">Semester Fee Payment</h3>

<table class="table table-bordered text-center">

<tr>
    <th>Semester</th>
    <th>Status</th>
    <th>Action</th>
    <th>Receipt</th>
</tr>

{% for sem in range(1,9) %}

<tr>

    <td>Semester {{ sem }}</td>

    <td>
        {% if sem_status.get(sem) == "paid" %}
            <span class="badge bg-success">Paid</span>
            

        {% else %}
            <span class="badge bg-danger">Pending</span>
        {% endif %}
    </td>

    <td>
        {% if sem_status.get(sem) != "paid" %}
            <button class="btn btn-primary btn-sm" onclick="payNow({{ sem }})">
                Pay Fee
            </button>
        {% else %}
            <button class="btn btn-secondary btn-sm" disabled>Done</button>
        {% endif %}
    </td>
     <td>
       
    {% if sem_status.get(sem) == "paid" and sem_payment.get(sem) %}
        <a href="/payment/download_receipt/{{ sem_payment[sem].sno }}"
   class="btn btn-primary btn-sm d-inline-block">
    📄 Download Receipt
</a>
    {% else %}
        <span style="color: #9ca3af;">Not Available</span>
    {% endif %}

    </td>
</tr>

{% endfor %}

</table>

<script>
async function payNow(sem) {

    const response = await fetch("/payment/create_order", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ semester: sem })
    });

    if (!response.ok) {
        alert("Failed to create order");
        return;
    }

    const data = await response.json();

    const options = {
        key: data.key,
        amount: data.amount,
        currency: "INR",
        order_id: data.order_id,

        name: "College Fee Portal",
        description: "Semester " + sem + " Fee Payment",

        handler: function (response) {
            fetch("/payment/verify_payment", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    ...response,
                    semester: sem
                })
            })
            .then(res => res.json())
            .then(data => {
                if (data.status === "Payment successful") {
                    alert("Payment Successful 🎉");
                    location.reload();
                } else {
                    alert("Verification failed!");
                }
            });
        },

        theme: {
            color: "#3b82f6"
        }
    };

    const rzp = new Razorpay(options);
    rzp.open();
}
</script>
{% endblock %}


